# Python Data Structures
- Tuple
    - Creating tuples
    - *in* operator
    - Indexing & slicing
- List
    - Creating lists
    - Modifying lists
    - List functions
- Set
    - Creating sets
    - Set functions
- Dictionary
    - Creating dictionaries
    - Dictionary functions

## 1. Tuple
- Tuple contains elements in certain order
- Tuples are *immutable*; once generated, its elements cannot be changed

### Creating tuples

In [3]:
# tuples can be created by placing elements in '( )'
t1 = (1, 2, 3)
print(type(t1))
print(t1)

<class 'tuple'>
(1, 2, 3)

In [4]:
# tuples can also be created without '( )'
# note that variables of different types can be inserted in tuple
t2 = 'a', 'b', 1, 2
print(type(t2))
print(t2)

<class 'tuple'>
('a', 'b', 1, 2)

In [5]:
# tuples in tuple
t3 = (t1, t2)
print(type(t3))
print(t3)

<class 'tuple'>
((1, 2, 3), ('a', 'b', 1, 2))

In [6]:
# length of tuple means number of elements in tuple
print(len(t1))
print(len(t2))
print(len(t3))       # note that length of t3 is 2, not 7

3
4
2

### *in* operator
- element *in* tuple
    - True if element exists in tuple
    - False if element does not exist in tuple
- Applies same to list and set

In [7]:
t4 = (1, 2, 3, 4, 5)
print(1 in t4)
print(10 in t4)

True
False

### Indexing & Slicing
- Tuple indexing & slicing can be performed similarly to string indexing & slicing
- Applies same to list

In [8]:
t5 = ('a', 'b', 'c', 1, 2, 3)
print(t5[0])
print(t5[3:])

a
(1, 2, 3)

In [9]:
t6 = ('a', 'b', 'c', (1, 2, 3))
print(t6[0])
print(t6[-1])        # note that last element of t6 is another tuple
print(t6[:2])

a
(1, 2, 3)
('a', 'b')

### Exercise 2-1.
- Create a tuple t1 containing elements 1, 4, (2, 3), 'John', 'Jane'
- By slicing, create a tuple t2 containing last two elements in t1
- Check whether element (2,3) is in tuple t1
- Check whether element 1 is in tuple t2

In [ ]:
## Your answer

## 2. Lists
- Lists are similar to tuple, except that they are *mutable*
- Due to such flexibility, lists are most commonly used

### Creating lists

In [10]:
# lists can be created by placing elements in '[ ]'
l1 = [1, 2, 3]
print(type(l1))
print(l1)

<class 'list'>
[1, 2, 3]

In [12]:
# creating n-D lists
l2 = [[1, 2], [3, 4], [5, 6]]                    # 2D list
print(len(l2))
print(l2[0])

3
[1, 2]

In [13]:
# creating n-D lists
l3 = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]        # 3D list
print(len(l3))
print(l3[0])
print(l3[0][1])

2
[[1, 2], [3, 4]]
[3, 4]

In [11]:
# note that lists can be casted into tuples, and vice versa
atuple = (1, 2, 3)
alist = list(atuple)
print(alist)
atuple = tuple(alist)
print(atuple)

[1, 2, 3]
(1, 2, 3)

### Modifying lists
- As mentioned, lists are *mutable*, elements in list can be modified

In [14]:
# changing list by indexing
l4 = [1, 2, 3]
l4[0] = 0        
print(l4)

[0, 2, 3]

In [15]:
# changing list by slicing
l5 = [2, 4, 6, 7, 9]
l5[3:] = [8, 10]
print(l5)

[2, 4, 6, 8, 10]

In [16]:
# deleting elements by del function
l6 = ['a', 'b', 'c', 'd', 'e']
del l6[1]
print(l6)

['a', 'c', 'd', 'e']

### List functions
- There are many Python functions that are useful to manipulate lists
- Those include:
    - append()
    - sort()
    - count()

In [17]:
# append() adds element at the end of list
l7 = [1, 2, 3]
l7.append(4)
print(l7)

[1, 2, 3, 4]

In [18]:
# sort() sorts list in ascending order
l8 = [4, 7, 2, 3, 1]
l8.sort()
print(l8)
l9 = ['b', 'e', 'd', 'a', 'f']          # string elements can be sorted as well
l9.sort()
print(l9)

[1, 2, 3, 4, 7]
['a', 'b', 'd', 'e', 'f']

### Exercise 2-2.
- Create list containing elements 1, 7, [4, 9], ('a', 'b'), 'f'
- Add element 'g' to end of list 
- Using slicing, create another list containing last two elements of list

In [19]:
## Your answer

## 3. Set
- Sets are similar to lists, but does not have order and duplicates; they only contain unique elements

### Creating sets

In [25]:
# sets can be created by placing elements in '{ }'
s1 = {1, 2, 3, 4, 3, 2}
print(type(s1))
print(s1)

<class 'set'>
{1, 2, 3, 4}

In [26]:
# set can be casted to lists & tuples and vice versa
s2 = {4, 5, 2}
t1 = tuple(s2)
print(t1)
l1 = list(s2)
print(l1)
s2 = set(l1)
print(s2)

(2, 4, 5)
[2, 4, 5]
{2, 4, 5}

### Set functions
- There are many Python functions that are useful to manipulate sets
- Those include:
    - add()
    - remove()
    - update()

In [27]:
# add() adds one element to set
s3 = {1, 10, 2}
s3.add(5)
print(s3)

{1, 10, 2, 5}

In [28]:
# remove() deletes certain element in set
s4 = {2, 4, 5}
s4.remove(5)
print(s4)

{2, 4}

In [29]:
# update() adds more than one element to set
s5 = {2, 7, 3}
s5.update([2, 4, 5])
print(s5)

{2, 3, 4, 5, 7}

### Exercise 2-3.
- Generate set set1 containing elements 5, 4, 2, 7
- Generate set set2 containing elements 2, 7, 1, 9
- Compute *union* of two sets set1 and set2
- Compute *intersection* of two sets set1 and set2

In [ ]:
## Your answer

## 4. Dictionary
- Dictionary elements comprise each key-value pair
- Dictionary does not have order; dictionary elements can be accessed via keys

### Creating dictionaries

In [32]:
# When creating dictionaries, value for each key should be addressed
d1 = {1: 'John', 2: 'Jane', 3: 'Jackson'}
print(type(d1))
print(d1[1])
print(d1[3])

<class 'dict'>
John
Jackson

In [33]:
d2 = {'a': 1, 'b': 2, 'c': 3}
print(d2)
d2['d'] = 4                        # adding element
print(d2)
del d2['a']                        # deleting element
print(d2)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

### Dictionary functions
- items()
- keys()
- values()

In [34]:
d3 = {'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California'}

In [37]:
# items() returns each item in tuple
d3_items = d3.items()
print(d3_items)

dict_items([('AL', 'Alabama'), ('AK', 'Alaska'), ('AZ', 'Arizona'), ('AR', 'Arkansas'), ('CA', 'California')])

In [38]:
# keys() return all keys in dict
d3_keys = d3.keys()
print(d3_keys)

dict_keys(['AL', 'AK', 'AZ', 'AR', 'CA'])

In [39]:
# values() return all values in dict
d3_values = d3.values()
print(d3_values)

dict_values(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California'])

### Exercise 2-4.
- Create dictionary containing key-value pairs below; values should be *tuples*
    - Create list l1 containing value mapped from key 'Odd'. Print out list l1
    - Add element to dictionary with key & value of
        - key: 'All'
        - value: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
    - Delete key 'Odd' and values mapped from it
<br>

| Key     | Value                  |
|---------|------------------------|
|'Even'   |(2, 4, 6, 8, 10)        |
|'Odd'    |(1, 3, 5, 7, 9)         |
|'Prime'  |(2, 3, 5, 7)            |

In [ ]:
## Your answer