# Basic Data Types
- Boolean types
- Numerical types
    - Integer
    - Float
- String types
    - Concatenation
    - Indexing
    - Slicing
    - Formatting
- Type casting

## 1. Boolean types
- Boolean variables can have only two types - **True** or **False**

In [10]:
x = True
print(type(x))
print(x)

<class 'bool'>
True

In [11]:
y = False
print(type(y))
print(y)

<class 'bool'>
False

In [13]:
print(x == y)    # check if two variables are equal
print(x != y)    # check if two variables are not equal

False
True

### Exercise 1-1.
-Implement logical operators AND, OR, and XOR
    - Compare x = True, y = True
    - Compare x = True, y = False
    - Compare x = False, y = False

In [1]:
## Your answer
print('X: True, y: True')
x = True 
y = True
print(x and y)
print(x or y)
print(x != y)
print('X: True, y: False')
x = True
y = False
print(x and y)
print(x or y)
print(x != y)
print('X: False, y: False')
x = False
y = False
print(x and y)
print(x or y)
print(x != y)

X: True, y: True
True
True
False
X: True, y: False
False
True
True
X: False, y: False
False
False
False

## 2. Numerical types
- Integer and float are most commonly used numerical data types

### Integers

In [18]:
# interger variable
x = 4
print(type(x))

<class 'int'>

In [6]:
# basic operations of integer type
print(x + 2)      # addition
print(x - 2)      # subtraction
print(x * 2)      # multiplication
print(x / 2)      # division (note that result is float type)
print(x // 2)     # division (quotient)
print(x % 2)      # division (remainder)
print(x ** 2)     # exponetiation

6
2
8
2.0
2
0
16

### Floats

In [19]:
y = 4.0
print(type(y))

<class 'float'>

In [16]:
# basic operations of float type 
# note that results are all float type!!
print(y + 2)      # addition
print(y - 2)      # subtraction
print(y * 2)      # multiplication
print(y / 2)      # division
print(y // 2)     # division (quotient)
print(y % 2)      # division (remainder)
print(y ** 2)     # exponetiation

6.0
2.0
8.0
2.0
2.0
0.0
16.0

In [20]:
# note that integer and float are compared based on their values
print(x == y)
print(x != y)

True
False

In [21]:
# changing the values of numerical variables
x = x + 2
print(x)
y += 2            # this is simpler
print(y)

6
6.0

### Exercise 1-2.
- Define integer variable **a** with value 10
    - Divide **a** by 2 and assign result back into **a**
    - Exponentiate **a** by 3 and assign result into variable **c**
    - Sum **a** and **c** and print out result
- Define float variable **b** with value 10.0
    - Multiply **b** by 3 and substract 10. Assign result into variable **d**
    - Print out remainder of division operation of **d** by 4

In [2]:
## Your answer
a = 10
a /= 2
c = a ** 3 
print(a + c)
b = 10.0
d = b * 3 - 10
print(d % 4)

130.0
0.0

## 3. String types

In [22]:
s1 = 'Monty'     # string can be generated using single quotes
print(type(s1))
print(s1)

<class 'str'>
Monty

In [28]:
s2 = "Python"    # string can be generated using double quotes as well
print(type(s2))
print(s2)

<class 'str'>
Python

In [25]:
s3 = ' '          # strings without explicit contents can be generated
print(type(s3))
print(s3)

<class 'str'>

In [27]:
# Lenght of string
print(len(s))
print(len(s1))
print(len(s3))
print(len(s2))

12
5
1
6

### Concatenation

In [26]:
# String concatenation
# Here, '+' operator has slightly different usage 
s = s1 + s3 + s2
print(s)

Monty Python

### Indexing

In [34]:
# Indexing not only works for string, but also for tuples, lists, etc.
# Note that Python indices start with 0
print(s)
print(s[0])
print(s[1])
print(s[2])
print(s[-2])
print(s[-1])

Monty Python
M
o
n
o
n

### Slicing
String**[Starting index:Ending index]**

In [37]:
# When slicing, starting index is inclusive, but ending element is not. Do not be confused!
print(s[0:5])
print(s[:5])
print(s[-6:])

Monty
Monty
Python

### Formatting
'{}'.format(value)

In [39]:
s1 = '{} is fun!'.format('Python')
print(s1)
s2 = '{}, {}, and {} are fun!'.format('Python', 'Ruby', 'Java')
print(s2)

Python is fun!
Python, Ruby, and Java are fun!

### Exercise 1-3.
- Create three string variables **str1**, **str2**, and **str3** containing words "I", "love", and "Jane"
- Concatenate three variables and assign result into variable **str4**. Print out **str4**
- Using slicing, extract only "I love" from **str4**
- Using concatenation, create variable **str5** containing "I love Amy". Print out **str5**

In [5]:
## Your answer
str1 = 'I'
str2 = 'love'
str3 = 'Jane'
str4 = str1 + ' ' + str2 + ' ' + str3
print(str4)
str4 = str4[:6]
str5 = str4 + ' ' + 'Amy'
print(str5)

I love Jane
I love Amy

## 4. Type casting
- Data type of variables can be converted if they are compatible
- Highly powerful tool in data analysis

In [41]:
# converting integer into float, and float into integer
i = 5
print(type(i))
f = float(i)
print(type(f))
ii = int(f)
print(type(ii))

<class 'int'>
<class 'float'>
<class 'int'>

In [42]:
# converting numerical into string, and string into numerical
i = 5
print(type(i))
s = str(i)
print(type(s))
f = float(s)
print(type(f))

<class 'int'>
<class 'str'>
<class 'float'>

In [43]:
# if types are not compatible, error
s = 'Jane'
print(type(s))
f = float(s)        # error

<class 'str'>

ValueError: could not convert string to float: 'Jane'

### Exercise 1-4.
- Create variables **i** and **s** containing 4414 and "4414"
- Compare two variables to check if they are equal
- Find out a way to make them equal

In [7]:
## Your answer
i = 4414
s = '4414'
print(i == s)
## method 1 - convert into integer
s = int(s)
print(i == s)
## method 2 - convert into string
i = 4414
s = '4414'
i = str(i)
print(i == s)

False
True
True